/* ===== 매개변수 전달 방식 ===== */
/* .switch{
  background-image: paint(switch, off);
  width: 50px;
  height: 30px;
  -webkit-appearance: none;
}

.switch:checked {
  background-image: paint(switch, on);
} */

/* ===== 스타일 전달 받기 ===== */
.switch{
  background-image: paint(switch);
  width: 50px;
  height: 30px;
  -webkit-appearance: none;
}

.switch:checked {
  background-image: paint(switch);
  color: #ffcd00;
}
